body{
	background-color: #b8e5e5;
}
#enlace{
	color:#63801a;
}
#Mariaclara{
	color:#6f186c;
}
#Saraisabel{
	color:#6f186c;
}
#Samuel{
	color:#6f186c;
}
#Titulop{
	color:#63801a;
}
#Subtitulop{
	color:#63801a;
}
#Objetivog{
	color:#63801a;
}
#Objetivoe{
	color:#63801a;
}
#Prototiposp{
	color:#63801a;
}
#creditos{
	color:#63801a;
}
#alcance{
	color:#63801a;
}
